alabaster==0.7.12
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.12
docutils==0.17.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
Jinja2==3.0.3
MarkupSafe==2.1.1
packaging==21.3
pockets==0.9.1
Pygments==2.11.2
pyparsing==3.0.7
pytz==2022.1
requests==2.27.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.9
zipp==3.7.0

attrs==21.4.0
-e git+https://github.com/Cislunar-Explorers/CislunarSim.git@e7e421ae1b9212b8bbd5d5dc8be3511eafd34dcc#egg=cislunar_sim
cycler==0.11.0
fonttools==4.31.2
iniconfig==1.1.1
kiwisolver==1.4.2
matplotlib==3.5.1
nodeenv==1.6.0
numpy==1.21.6
packaging==21.3
Pillow==9.0.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pyright==1.1.234
pytest==7.1.1
python-dateutil==2.8.2
scipy==1.7.3
six==1.16.0
tomli==2.0.1

